* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-green-500: hsl(158, 36%, 37%);
    --primary-green-700: hsl(158, 42%, 18%);
    --neutral-black: hsl(212, 21%, 14%);
    --neutral-grey: hsl(228, 12%, 48%);
    --neutral-cream: hsl(30, 38%, 92%);
    --neutral-white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fraunces';
    src: url('assets/fonts/Fraunces/static/Fraunces_72pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--neutral-grey);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}